body {
    /*min-width: 100%;*/
    margin: 0;
    background-color: #a34ffd;
}

.wrap {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main_block {
    background-color: rgba(255, 255, 255, 0.93);
    width: 60vw;
    height: 60vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: 5px 5px 20px rgb(86, 85, 85);
}

.w_inner {
    width: 60%;
}

.time {
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
    border-radius: 5px;
    font-size: 50px;
}
.fixed_numbs{
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    border-radius: 5px;
    color: white;
    width: 30%;
    height: 10vh;
    background-color: black;
    border: none;
    font-size: 18px;

}
button:hover{
    cursor: pointer;
    background-color:  #a34ffd;
    border: 1px rgba(0, 0, 0, 0.52) solid;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media (max-width: 480px) {
    .main_block {
        background-color: rgba(255, 255, 255, 0.81);
        width: 80vw;
        height: 70vh;
    }

    .w_inner{
        width: 80%;
    }

    .time{
        font-size: 60px;
    }

    button{
        width: 70px;
        height: 70px;
        border-radius: 50px;
    }
}














